{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b> ksh {{product.price}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
						{% else %}
						<form action="/#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-success  form-control"
								value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
  <!--Footer-->
  <div style="background-color:wheat;">
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    

    <hr class="my-4">


    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021 Copyright:
	  <a href="#" target="_blank"> Khalid Ali </a>
	  <h3><strong>SHOP AT THE BEST PLACE IN TOWN!!</strong></h3>
    </div>
	<!--/.Copyright-->
	
</style>
<body>

<h2>khalid-shop Newsletter</h2>

<form action="/action_page.php">
  <div class="container">
    <h2>Subscribe to our Newsletter</h2>
  </div>

  <div class="container" style="background-color:bisque">
	<input type="text" placeholder="Name" name="name" required>
	<br>
	<br>
	<input type="text" placeholder="Email address" name="mail" required>
	<br>
    <label>
      <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
    </label>
  </div>

  <div class="container">
    <input type="submit" value="Subscribe">
  </div>
</form>


  </footer>
  </div>
  <!--/.Footer-->


{% endblock %}